<div class="page-header">
    <h1>Items <small>list</small></h1>
</div>

<div class="btn-group" role="group" aria-label="..." ng-init="toggle1 = false; toggle2 = false; toggle3 = false">

    <label>Filter by:</label><br />

    <!--Item Filter-->
    <button type="button" class="btn btn-default" ng-show="!toggle1" ng-click="toggle1 = true; toggle2 = false; toggle3 = false;">Item Type</button>
    <button type="button" class="btn btn-default" ng-show="toggle1" ng-click="toggle1 = false; toggle2 = false; toggle3 = false;">Item Type</button>

    <!--Availability Filter-->
    <button type="button" class="btn btn-default" ng-show="!toggle2" ng-click="toggle1 = false; toggle2 = true; toggle3 = false;">Availability</button>
    <button type="button" class="btn btn-default" ng-show="toggle2" ng-click="toggle1 = false; toggle2 = false; toggle3 = false;">Availability</button>

    <!--Media Filter-->
    <button type="button" class="btn btn-default" ng-show="!toggle3" ng-click="toggle1 = false; toggle2 = false; toggle3 = true;">Media Type</button>
    <button type="button" class="btn btn-default" ng-show="toggle3" ng-click="toggle1 = false; toggle2 = false; toggle3 = false;">Media Type</button>

    <!--Return All Data-->
    <button type="button" class="btn btn-default" ng-click="list()" style="border-radius: 0;">Return All</button>

    <div ng-if="toggle1">
        <input type="radio" name="itemType" value="Book" checked id="book" ng-model="value" ng-change="filterByItemType(value)"><label for="book"> Book</label><br>
        <input type="radio" name="itemType" value="Media" id="media" ng-model="value" ng-change="filterByItemType(value)"><label for="media"> Media</label><br>
    </div>

    <div ng-if="toggle2">
        <input type="radio" name="availability" value="false" checked id="available" ng-model="value" ng-change="filterByAvailability(value)"><label for="available"> Available</label><br>
        <input type="radio" name="availability" value="true" id="loaned" ng-model="value" ng-change="filterByAvailability(value)"><label for="loaned"> Loaned</label><br>
    </div>

    <div ng-if="toggle3">
        <input type="radio" name="mediaType" value="cd" checked id="cd" ng-model="value" ng-change="filterByMediaType(value)"><label for="cd"> CD</label><br>
        <input type="radio" name="mediaType" value="dvd" id="dvd" ng-model="value" ng-change="filterByMediaType(value)"><label for="dvd"> DVD</label><br>
    </div>
</div>

<div>
    <label style="color: red;">{{message}}</label>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span><strong> Registers</strong></div>
    <!--Table-->
    <table class="table table-hover" ng-init="list()">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="orderByField='Title'; reverseSort = !reverseSort">
                        Title
                        <span ng-show="orderByField == 'Title'">
                            <span ng-show="!reverseSort"><span class="dropup"><span class="caret"></span></span></span>
                            <span ng-show="reverseSort"><span class="caret"></span></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField='RegisterDate'; reverseSort = !reverseSort">
                        Register Date
                        <span ng-show="orderByField == 'RegisterDate'">
                            <span ng-show="!reverseSort"><span class="dropup"><span class="caret"></span></span></span>
                            <span ng-show="reverseSort"><span class="caret"></span></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField='ReleaseDate'; reverseSort = !reverseSort">
                        Release Date
                        <span ng-show="orderByField == 'ReleaseDate'">
                            <span ng-show="!reverseSort"><span class="dropup"><span class="caret"></span></span></span>
                            <span ng-show="reverseSort"><span class="caret"></span></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField='ItemType'; reverseSort = !reverseSort">
                        Item Type
                        <span ng-show="orderByField == 'ItemType'">
                            <span ng-show="!reverseSort"><span class="dropup"><span class="caret"></span></span></span>
                            <span ng-show="reverseSort"><span class="caret"></span></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField='Genre'; reverseSort = !reverseSort">
                        Genre
                        <span ng-show="orderByField == 'Genre'">
                            <span ng-show="!reverseSort"><span class="dropup"><span class="caret"></span></span></span>
                            <span ng-show="reverseSort"><span class="caret"></span></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField='Loaned'; reverseSort = !reverseSort">
                        Loaned
                        <span ng-show="orderByField == 'Loaned'">
                            <span ng-show="!reverseSort"><span class="dropup"><span class="caret"></span></span></span>
                            <span ng-show="reverseSort"><span class="caret"></span></span>
                        </span>
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in items | filter: $parent.search | orderBy:orderByField:reverseSort">
                <td>{{ i.Title }}</td>
                <td>{{ i.RegisterDate | date:"yyyy-MM-dd" }}</td>
                <td>{{ i.ReleaseDate | date:"yyyy-MM-dd" }}</td>
                <td>{{ i.ItemType }}</td>
                <td>{{ i.Genre }}</td>
                <td>{{ i.Loaned }}</td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            data-target="#modalForUpdate"
                            data-toggle="modal"
                            ng-click="getById(i.Id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Update Loan
                    </button>
                    <button class="btn btn-danger btn-sm"
                            data-target="#modalForDelete"
                            data-toggle="modal"
                            ng-click="getById(i.Id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot class="panel-footer">
            <tr>
                <td colspan="7">
                    <strong>Amount of items: {{ (items | filter: $parent.search).length }}</strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Modal for deletion -->
<div id="modalForDelete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h2>Item Deletion</h2>
                Would you like to delete the selected item?
            </div>
            <!--<pre>{{ item.Id | json}}</pre>-->
            <div class="modal-body">
                <label>Title: </label> {{item.Title}} <br />
                <label>Item Type:</label> {{item.ItemType}} <br />
                <label>Genre:</label> {{item.Genre}} <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm"
                        data-dismiss="modal"
                        ng-click="delete()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
                <button class="btn btn-warning btn-sm"
                        data-dismiss="modal">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edition -->
<div id="modalForUpdate" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2>Item Edition</h2>
                Change the loan status in order to update this field.
            </div>
            <pre>{{ item | json }}</pre>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Title:</label>
                        <input type="text" readonly class="form-control" ng-model="item.Title" />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Register Date:</label>
                        <input type="text" readonly class="form-control" ng-model="item.RegisterDate" />
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label>Release Date:</label>
                        <input type="text" readonly class="form-control" ng-model="item.ReleaseDate" />
                        <br />
                    </div>
                </div>
                <div class="row" ng-if='item.ItemType == "Book"'>
                    <div class="col-md-4">
                        <label>Author:</label>
                        <input type="text" readonly class="form-control" ng-model="item.Author" />
                        <br />
                    </div>
                    <div class="col-md-4">
                        <label>Pages:</label>
                        <input type="number" readonly class="form-control" ng-model="item.Pages" />
                        <br />
                    </div>
                    <div class="col-md-4">
                        <label>Publisher:</label>
                        <input type="text" readonly class="form-control" ng-model="item.PublishingCompany" />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Item Type</label>
                        <input type="text" readonly ng-model="item.ItemType" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Genre</label>
                        <input type="text" readonly ng-model="item.Genre" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>Loaned?</label>
                        <input type="text" readonly ng-model="item.Loaned" ng-value="" class="form-control" />
                    </div>
                </div>
                <div class="row" ng-if='item.ItemType == "Media"'>
                    <div class="col-md-4">
                        <label>Media Type</label>
                        <input type="text" readonly ng-model="item.MediaType" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <label>First Name (Person)</label>
                        <input type="text" readonly ng-model="item.FirstName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <br />
                        <label>Cellphone</label>
                        <input type="text" readonly ng-model="item.Cellphone" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm"
                        data-dismiss="modal"
                        ng-click="edition()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Change Loan Status
                </button>
                <button class="btn btn-warning btn-sm"
                        data-dismiss="modal">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>